.title {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 50px;
}

h1 {
  text-align: center;
}

main {
  margin: auto;
  width: 80%;
}

li {
  padding-left: 40px;
}

label {
  padding-left: 5px;
  position: relative;
  bottom: 1px !important;
}

.center {
  text-align: center;
}

.check-test-but {
   margin-top: 30px;
  outline: none;
}

